<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
          type="text" 
          id="name" 
          class="form-control"
          formControlName="name"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number" 
            id="amount" 
            class="form-control"
            formControlName="amount"
            >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success button-control" 
            type="button"
            (click)="addIngredient()"
            [disabled]="!form.valid"
          >
            Add
          </button>

          <button 
            class="btn btn-danger button-control" 
            type="button"
            (click)="deleteIngredients()"
            [disabled]="!selectedIngredients"
          >
            Delete
          </button>

          <button 
            class="btn btn-primary button-control" 
            type="button"
            (click)="clearIngredients()"
            [disabled]="!areThereIngredients"
          >
            Clear
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
